<div class="container-fluid" *ngIf="this.authService.Authenticated && (this.authService.getRole() == 'intern')">
<div class="row mb-4">
  <div class="col-md-2 mb-3">

<div class="list-group"  role="tablist" style="height: 100%;color: black;" style="background-color: :#008d0d;">
  <a class="list-group-item d-flex justify-content-between align-items">

          <div >
              <img src="assets/img/studentprofile.png" class="profile-image rounded-circle img-responsive" >
          </div>
        </a>
  <a  class="list-group-item " *ngIf="this.authService.Authenticated && (this.authService.getRole() == 'intern')"> {{name}} ({{role}}) </a>
  <a class="list-group-item list-group-item-action  list-group-item-success active " data-toggle="list" href="#profile" role="tab"><strong>PROFILE</strong></a>
  <a class="list-group-item list-group-item-action  list-group-item-success " data-toggle="list" href="#internships" role="tab"><strong>INTERNSHIPS</strong></a>
  <a class="list-group-item list-group-item-action  list-group-item-success   " data-toggle="list" href="#settings" role="tab"><strong>SETTINGS</strong></a>
   <a class="list-group-item list-group-item-action  list-group-item-success   d-flex justify-content-between align-items-center" data-toggle="list" href="#notifications" role="tab">  <strong>NOTIFICATIONS</strong>
      <span class="badge badge-success badge-pill">4</span>
   </a>
</div>
</div>

<div class="col-md-10">
<div class="tab-content">
  <div class="tab-pane active" id="profile" role="tabpanel">
    
    <div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card card-inverse" style=" border-color: #008d0d; padding:25px;">
<div class="card-block">
<div class="row">
<div class="col-md-8 col-sm-8" >
  <h3><strong>MY PROFILE: </strong></h3>
  <hr>
<h6 class="card-title">First Name:{{user.fname}}</h6>
<hr>
<h6 class="card-title">Last Name:{{user.lname}}</h6>
<hr>
<h6 class="card-title">Phone number:{{user.phone}}</h6>
<hr>
<h6 class="card-title">Email :{{user.email}}</h6>
<hr>

<p class="card-text"><strong>Profile: </strong> Web Developer </p>
<hr>
<p class="card-text"><strong>Skills: </strong> Theme, plugin and website development </p>
</div>




</div>
</div>
</div>
</div>
</div>
</div>

  </div>
<div class="tab-pane " id="internships" role="tabpanel">No completed internships...</div>
<div class="tab-pane" id="settings" role="tabpanel">
    <hr>
    <div class="card text-center"  style=" border-color: #008d0d; padding:25px;" *ngIf="!editing" >

      <div class="card-body" >
        <h5 class="card-title">UPDATE PROFILE</h5>
        <p class="card-text">Update your registration details , and other details that will add more value to your profile.</p>
        <button class="btn btn-success" (click)="onEditUser()">EDIT</button>
      </div>

    </div>

      <form   [formGroup]="internSettingsForm"  *ngIf="editing" (ngSubmit)="onSubmit()">

          <div class="form-group">

              <div class="col-md-6">
                  <label for="fname">  First name</label>
                  <input type="text" class="form-control" formControlName="fname"  [ngClass]="{ 'is-invalid':submitted&& internSettingsForm.controls.fname.errors}"  [(ngModel)]="editfname">
                  <div *ngIf="submitted && internSettingsForm.controls.fname.errors" class="invalid-feedback">
                    <div *ngIf="internSettingsForm.controls.fname.errors.required">First name is required.</div>
                      <div *ngIf="internSettingsForm.controls.fname.errors.pattern">Enter a valid name.</div>
                  </div>
              </div>
          </div>
          <div class="form-group">

              <div class="col-md-6">
                  <label for="lname">  Last name</label>
                  <input type="text" class="form-control mb-4" formControlName="lname"   [ngClass]="{ 'is-invalid':submitted&& internSettingsForm.controls.lname.errors}"  [(ngModel)]="editlname">
                  <div *ngIf="submitted && internSettingsForm.controls.lname.errors" class="invalid-feedback">
                    <div *ngIf="internSettingsForm.controls.lname.errors.required">Last name is required.</div>
                      <div *ngIf="internSettingsForm.controls.lname.errors.pattern">Enter a valid name.</div>
                  </div>
              </div>
          </div>
          <div class="form-group ">
              <div class="col-md-6">
              <label for="email">Email</label>
              <input type="email"  formControlName="email"
              class="form-control mb-4"   [ngClass]="{ 'is-invalid':submitted && internSettingsForm.controls.email.errors }"  [(ngModel)]="editemail">
              <div *ngIf=" submitted && internSettingsForm.controls.email.errors" class=" invalid-feedback">
                <div *ngIf="internSettingsForm.controls.email.errors.required">Email is required.</div>
                <div *ngIf="internSettingsForm.controls.email.errors.email">Email must be a valid email address.</div>
              </div>
              </div>
          </div>

          <div class="form-group  ">
              <div class="col-md-6">
              <label for="phone">Phone Number</label>
              <input type="tel"  formControlName="phone"
              class="form-control mb-4"  [ngClass]="{ 'is-invalid':submitted && internSettingsForm.controls.phone.errors }" [(ngModel)]="editphonenumber" >
              <div *ngIf=" submitted &&internSettingsForm.controls.phone.errors" class=" invalid-feedback">
                <div *ngIf="internSettingsForm.controls.phone.errors.required">Phone number is required.</div>
                <div *ngIf="internSettingsForm.controls.phone.errors.minlength">Enter a valid phone number.</div>
                <div *ngIf="internSettingsForm.controls.phone.errors.maxlength">Enter a valid phone number.</div>
              </div>
              </div>

            </div>
          <div class="form-group">

              <div class="col-md-6">
                  <label for="dob">  Date  of Birth:</label>
                  <input type="date" class="form-control mb-4" formControlName="dob"   [ngClass]="{ 'is-invalid':submitted && internSettingsForm.controls.dob.errors }">
                  <div *ngIf=" submitted &&internSettingsForm.controls.dob.errors" class=" invalid-feedback">
                    <div *ngIf="internSettingsForm.controls.dob.errors.required">Date of Birth is required.</div>
                  </div>
              </div>
          </div>

          <div class="form-group ">
            <div class="col-md-6">
                <label for="password">Password</label>
            <input id="password" type={{this.type}} formControlName="password"
            class="form-control"  placeholder="Password with at least 8 characters "  [ngClass]="{ 'is-invalid':submitted && internSettingsForm.controls.password.errors }"  >
            <div *ngIf=" submitted &&internSettingsForm.controls.password.errors" class=" invalid-feedback">
              <div *ngIf="internSettingsForm.controls.password.errors.required">Password is required.</div>
              <div *ngIf="internSettingsForm.controls.password.errors.minlength">Password must have at least 8 characters.</div>
            </div>
            </div>
          </div>

          <br>
            <hr>
            <div>
          <h3><strong> PROFILE:</strong></h3>
          </div>
          <hr>
          <div class="form-group">

              <div class="col-md-6">
                  <label for="bio">Bio</label>
                  <textarea cols="50" rows="5" class="form-control mb-4" name="bio" id="bio" placeholder="Write bio" title="enter bio if any."></textarea>
              </div>
          </div>

          <div class="form-group ">
              <div class="col-md-6">
                  <label for="image">Image</label>
                  <input type="file"  name="image" id="image"  accept="image/*">
              </div>
          </div>
          <br>
          <br>
          <br>
          <div class="form-group">

              <div class="col-xs-6">
                  <label for="location">Location:</label>



<select>
                 <option value="input text"></option>
                 <option value="AR">ARUSHA</option>
                  <option value="DAR">DAR ES SAALAM</option>
                 <option value="DO">DODOMA</option>
                 <option value="GE">GEITA</option>
                 <option value="IR">IRINGA</option>
                 <option value="KAG">KAGERA</option>
                 <option value="KAT">KATAVI</option>
                 <option value="KIG">KIGOMA</option>
                 <option value="KIL">KILIMANJARO</option>
                 <option value="LI">LINDI</option>
                 <option value="MAN">MANYARA</option>
                 <option value="MAR">MARA</option>
                 <option value="MB">MBEYA</option>
                 <option value="MO">MOROGORO</option>
                 <option value="MT">MTWARA</option>
                 <option value="MW">MWANZA</option>
                 <option value="NJ">NJOMBE</option>
                 <option value="PW">PWANI</option>
                 <option value="RUK">RUKWA</option>
                 <option value="RUV">RUVUMA</option>
                 <option value="SH">SHINYANGA</option>
                 <option value="SIM">SIMIYU</option>
                 <option value="SIN">SINGIDA</option>

                 <option value="SO">SONGWE</option>

                 <option value="TAB">TABORA</option>

                 <option value="TAN">TANGA</option>
                           </select>


          </div>
          </div>
          <div class="form-group">

              <div class="col-xs-6">
                  <label for="institution">Institution:</label>



<select>
                 <option value="input text"></option>
                 <option value="AJ">AJUCo</option>
                 <option value="AK">AKU</option>
                 <option value="AM">AMUCTA</option>
                 <option value="AR">ARU</option>
                 <option value="CA">CARUMUCo</option>
                 <option value="CU">CUHAS</option>
                 <option value="DU">DUCE</option>
                 <option value="E">ETU</option>
                 <option value="H">HKMU</option>
                 <option value="IMS">IMS</option>
                 <option value="IMT">IMTU</option>
                 <option value="JO">JOKUCo</option>
                 <option value="JU">JUCo</option>
                 <option value="KC">KCMUCo</option>
                 <option value="KI">KIU-DAR</option>
                 <option value="MA">MARUCo</option>
                 <option value="MJ">MJNUAT</option>
                 <option value="MM">MMU</option>
                 <option value="MO">MoCU</option>
                 <option value="MU">MU</option>
                 <option value="MUC">MUCE</option>
                 <option value="MUH">MUHAS</option>
                 <option value="MUM">MUM</option>
                 <option value="MUS">MUST</option>
                 <option value="MW">MWECAU</option>
                 <option value="NM">NMAIST</option>
                 <option value="O">OUT</option>
                 <option value="RU">RUCU</option>
                 <option value="SA">SAUT</option>
                 <option value="SE">SEKOMU</option>
                 <option value="SF">SFUCHAS</option>
                 <option value="SJUCH">SJUCHAS</option>
                 <option value="SJUCM">SJUCMC</option>
                 <option value="SJUI">SJUIT</option>
                 <option value="SJU">SJUT</option>
                 <option value="SM">SMMUCo</option>
                 <option value="ST">STeMMUCO</option>
                 <option value="SU">SUA</option>
                 <option value="SUM">SUMAIT</option>
                 <option value="SUZ">SUZA</option>
                 <option value="PW">TEKU</option>
                 <option value="TU">TUMA</option>
                 <option value="TUM">TUMADARCo</option>
                 <option value="UA">UAUT</option>
                 <option value="UDO">UDOM</option>
                 <option value="UD">UDSM</option>
                 <option value="UOA">UoA</option>
                 <option value="UOB">UoB</option>
                 <option value="UOI">UoI</option>
                 <option value="Z">ZU</option>
                           </select>


          </div>
          </div>

          <div class="form-group">

              <div class="col-xs-6">
                  <label for="skills">Skills:</label>



          <select >
                 <option value="input text"></option>
                 <option >Programming</option>
                  <option >Project Management</option>
                 <option >Digital Marketing</option>
                 <option >Marketing</option>
                 <option >Leadership</option>
                 <option >Teamwork</option>
                 <option >Java</option>
                 <option >MEAN Stack</option>
                 <option >Ethical hacking</option>
                 <option >Android Development</option>
                 <option >Flatter</option>
                 <option >Microsoft Office</option>
                 <option >Angular</option>
                 <option >Graphics Design</option>
                 <option >Web Design</option>
                 <option >Blogger</option>
                 <option >Event Management</option>
                 <option >Mongo</option>
                 <option >Public Speaking</option>
                 <option >Agriculture</option>
                 <option >Food Science</option>
                 <option >Aquaculture</option>
                 <option >Architecture</option>

                 <option >Forestry</option>

                 <option >Teaching</option>

                 <option >Database</option>
                           </select>


          </div>
          </div>

          <div class="form-group " >
            <div class="form-row">
              <div class="col-md-2">
                  <button class="btn  btn-success"  (click)="onUpdateUser()">Save</button>
              </div>
              <div class="col-md-2">
                  <button class="btn  btn-success" type="reset" (click)="onCancelUser()">Cancel</button>
                </div>
                </div>
          </div>


      </form>
  </div>


<div class="tab-pane" id="notifications" role="tabpanel">Notifications concerning the applied internships</div>
</div>
</div>

</div>
</div>


<app-footer></app-footer>
