<div class="container-fluid mb-4" >
<div class="row">
  <!-- left section -->
<div class="col-lg-3">
</div>
 <!-- middle section   -->
 <div class="col-lg-6 ">

<div class = "alert alert-danger alert-dismissable" *ngIf = "submit && (userService.getState() == 'true')"  >
  <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
     &times;
  </button>
{{message}}
</div>
<div class = "alert alert-success alert-dismissable" *ngIf = "submit && (userService.getState() == 'false')"  >
  <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
     &times;
  </button>
{{message}}
</div>
<h4 *ngIf = "submit && (userService.getState() == 'true')" >
We have sent you email varification please check your email to proceed</h4>
    <h4 *ngIf = "!(submit && (userService.getState() == 'true'))"> Intern Registration</h4>
    <hr>
<div class="card" *ngIf = "!(submit && (userService.getState() == 'true'))">

<div class="card-header text-center"
style="background-color: #008d0d; color: #fff;">
Personal Information
</div>
<form class="border border-light p-5" [formGroup]="newinternForm" (ngSubmit)="onSubmit()" >
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="fname">First Name</label>
          <input type="text" formControlName="fname"
          class="form-control mb-4" placeholder="First Name">
        </div>
      
      <div class="form-group col-md-6">
        <label for="lname">Last Name</label>
          <input type="text"  formControlName="lname"
          class="form-control mb-4" placeholder="Last Name">
      </div>
      
  </div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="lname"email>Email</label>
        <input type="email"  formControlName="email"
        class="form-control mb-4" placeholder="Email">
    </div>
     
    <div class="form-group col-md-6 ">
        <label for="phone"email>Phone Number</label>
        <input type="tel"  formControlName="phone"
        class="form-control mb-4" placeholder="Phone Number">
      </div>
</div>


  <label for="password">Password</label>
<div class="form-row ">
  <div class="form-group col-md-10">
      
    <input id="password" type={{this.type}} formControlName="password"
    class="form-control"  placeholder="Password"  >
  </div>
  <div class="form-group col-md-2">
    <button class="btn btn-success" (click)="toggle()">{{this.hide}}</button>
  </div>
</div>
  <button class="btn btn-success btn-block "
  style="background-color: #008d0d;" type="submit"
  [disabled]="!newinternForm.valid">Sign Up
  </button>
</form>
</div>
</div>
<div class="col-lg-3 col-md-3">
  </div>
</div>
</div>
<app-footer></app-footer>