<div class="jumbotron" style="background-image: url(assets/img/download.jpeg); background-size: cover;">
  <h1 class="display-4" style="color:aliceblue" >Recruit Interns for any job online</h1>
  <p class="lead" style="color:aliceblue">Millions of small businesses and companies use Uni-Intern to turn their ideas into reality and increase efficiency</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-success btn-outline btn-lg mr-3" [routerLink]= "['/users/new-professional']" role="button">Join as Recruiter</a>

    <a class="btn btn-success  btn-outline btn-lg ml-3" [routerLink]= "['/users/new-intern']" role="button">Join as Intern</a>
  </p>
</div>
<hr>
<div class="container-fluid">
    <h3> <strong>Uni-Intern Guides</strong></h3>

    <br>
    <div class="card-deck ">

        <div class="card bg-light ">
          <img class="card-img-top " src="assets/img/ui.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><a href="#"> Finding the right intern for your organization</a></p>
          </div>
        </div>

        <div class="card bg-light ">
          <img class="card-img-top" src="assets/img/branding.jpg" alt="Card image cap">
          <div class="card-body">

            <p class="card-text"><a href="#">How students benefit from Internship Programs.</a></p>

          </div>
        </div>
        <div class="card bg-light ">
            <img class="card-img-top" src="assets/img/seo.jpg" alt="Card image cap">
            <div class="card-body">

              <p class="card-text"><a href="#">How employers benefit from Internship programs.</a></p>

            </div>
          </div>


      </div>
</div>
<app-footer></app-footer>