<div class="jumbotron" style="background-image: url(assets/img/download.jpeg); background-size: cover;">
  <h1 class="display-4" style="color:aliceblue" >Recruit Interns for any job online</h1>
  <p class="lead" style="color:aliceblue">Millions of small businesses and companies use Uni-Intern to turn their ideas into reality and increase efficiency</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-success btn-outline btn-lg mr-3" [routerLink]= "['/users/new-professional']" role="button">Join as Recruiter</a>

    <a class="btn btn-success  btn-outline btn-lg ml-3" [routerLink]= "['/users/new-intern']" role="button">Join as Intern</a>
  </p>
</div>