<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color:#4e5559; ">

    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " id="navbarSupportedContent">

          <ul class="navbar-nav mx-5 " style="padding-left:50px;" >
              <li class="nav-item px-5" >
                <a class="nav-link" href="#"><strong>MY PROFILE</strong></a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="#"><strong>MY INTERNSHIPS</strong></a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link" href="#"> <strong>NOTIFICATIONS</strong> </a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link" href="#"> <strong>PRODUCTS</strong> </a>
              </li>


            </ul>
    </div>
  </nav>
