
@import "~bootstrap/dist/css/bootstrap.css";
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #384248;
    /* border-color: #007bff; */
}
.badge-primary {
    color: #384248;
    background-color: #f7f9f6;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(56, 66, 72);
    border-bottom: 1px solid rgb(11, 4, 16);
    color: #fff;
}
.btn {
      color: #f9f9f9; 
    background-color: #384248;
   
}

/*.input-group-prepend[_ngcontent-c1] {
    margin-right: -1px;
    margin-top: 0px;
}*/
.btn btn-default:hover{
    color: aqua;
    background-color: #fff;
}
.menu{
    background: #fff;
    display: block;
    width:30px;
    height:5px;
    margin:3px 0px;
}
.list-group-item.active[_ngcontent-c1] {
    z-index: 2;
    color: #fff;
    background-color: #3d8d13;
    border-color: #eaeef3;
}
.input-group-text[_ngcontent-c1] {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    margin-top:-9px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #384248;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
}
.table-success[_ngcontent-c1] th[_ngcontent-c1], .table-success[_ngcontent-c1] td[_ngcontent-c1], .table-success[_ngcontent-c1] thead[_ngcontent-c1] th[_ngcontent-c1], .table-success[_ngcontent-c1] tbody[_ngcontent-c1] + tbody[_ngcontent-c1] {
    border-color: #0f100f;
}

/*.table-striped[_ngcontent-c1] tbody[_ngcontent-c1] tr[_ngcontent-c1]:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.83);
}*/