.btn-outline-success:hover {
    color: rgb(245, 245, 245) !important;
    background-color: #28a745;
}
.btn-primary{
    background-color: rgb(5, 9, 12) !important;
}
img, embed, object, video {
    max-width: 100%;
  }
  
