
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style=" background-color:#fff; 
font-family:-apple-system,
 BlinkMacSystemFont, 'Segoe UI', 
 Roboto, Oxygen, Ubuntu, Cantarell, 
 'Open Sans', 'Helvetica Neue', sans-serif">
  
    <a class="navbar-brand" href="#" ><img src="assets/img/brandlogo.jpg" style="height:42px;"></a>
    
    <a class="navbar-brand" href="#" ><h2><span style="color:#008d0d;"><strong>Un</strong></span>Intern</h2></a>
  

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:rgb(5, 9, 12);"
        > <strong>Home</strong><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:rgb(5, 9, 12);">Offer Internship</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:rgb(5, 9, 12);">Sign in</a>
      </li>
      <li class="nav-item">
        <button type="button" 
        class="btn btn-outline-success nav-link" 
        style="color:rgb(5, 9, 12);">
        Join <strong>+</strong>
        </button>
        

      </li>
    </ul>
  </div>
 
</nav>


<div class="card text-white " style="border-radius:0%;">
    <img class="card-img" src="assets/img/index4.jpeg" alt="Card image" style="height:500px;">
    <div class="card-img-overlay" style="height: 100rem;">
      
      <div class="container">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <div class="container ">
                <div class="container">
                  <h3 style="color:rgb(5, 9, 12);"><strong>Find The Perfect Internship opportunity For Your Career</strong></h3>
                  <div class="d-flex">
                      <input class="form-control mr-1" type="text" placeholder="Eg Database Design...">
                      <button type="button" class="btn btn-dark">Search</button>
                      
                  </div>
              </div>
                
              </div>
                
            </div>
            <div class="col-lg-5">
    
            </div>
            <div class="row"></div>
          </div>
      </div>

        
    </div>
</div>
  
  <hr>
  <h2>patners here</h2>
  <hr>

  <div class="card bg-dark text-white" style="border-radius:0%;">
    <img class="card-img" src="assets/img/background.jpeg" alt="Card image">
    <div class="card-img-overlay">
      <p class="card-text">POPULAR INTERNSHIPS</p>
    </div>
  </div>
  
  





<router-outlet></router-outlet>
