<br>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
          <h4>INTERNSHIP REGISTRATION</h4>
            <hr>
    <div class="card">
    <div class = "alert alert-success alert-dismissable" *ngIf = "userService.getcomplete()"  >
       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
          &times;
       </button>
      Successfully submitted! One more to go.
    </div>
    <div class="card-header text-center"
    style="background-color: #008d0d; color: #fff;" >
    Internship Details
    </div>
    <form  class=" border border-light p-5" [formGroup]="internshipForm"
    (ngSubmit)="onUpload()">
             <div class="form-row">
              <div class="form-group  col-md-6">
                <label for="intpos">Internship Position</label>
                <input id="intpos" type="text" formControlName="internshipPositon"
                class="form-control mb-4" >
              </div>

                <div class="form-group col-md-6">
                  <label for="industryType">Internship Category</label>
                  <select formControlName="name" id="industryType" class="browser-default custom-select">
                      <option [value]="industry.name" *ngFor="let industry of internshipService.getIndustries()">{{industry.name}}</option>

                    </select>
                  </div>
                </div>


                <div class="form-group shadow-textarea">
                  <label for="intfunc">Internship Activities</label>
                  <textarea id="intfunc" class="form-control " formControlName="internshipfunction"
                  rows="5" placeholder="Intern will be responsible for..."></textarea>
                 </div>
                <div class="form-group ">
                  <label for="desc">Qualifications</label>
                  <textarea id="desc" class="form-control " formControlName="description"
                  rows="5" placeholder="Applicant must..."></textarea>
                </div>


             <div  class="form-row">
                  <div class="form-group col-md-4">
                    <label for="tg1" >Tag 1</label>
                    <input id="tg1" type="text" formControlName="tag1"
                    class="form-control"  placeholder="Tag 1" >
                  </div>

                  <div class="form-group col-md-4 ">
                      <label for="tg2" >Tag 2</label>
                    <input id="tg2" type="text" formControlName="tag2"
                    class="form-control"  placeholder="Tag 1" >
                  </div>

                  <div class="form-group col-md-4 ">
                      <label for="tg3" >Tag 3</label>
                    <input id="tg3" type="text" formControlName="tag3"
                    class="form-control"  placeholder="Tag 3">
                  </div>
              </div>


          <div class="form-group" *ngIf="this.attachfile" >
              <label class="mr-2">File Upload</label>
            <input name="file" type="file" (change)="onFileSelected($event)" >
          </div>

          <div class="form-row">
              <div class="form-group col-md-4">
                  <button class="btn btn-success shadow" (click)="onATtachFile()"
                    type="submit"
                    [disabled]="!this.attachfile">Attach File
                  </button>
                </div>
            <div class="form-group col-md-4">
              <button class="btn btn-success shadow"
                type="submit"
                [disabled]="!internshipForm.valid">Preview
              </button>
            </div>
            <div class="form-group col-md-4">
              <button class="btn btn-success shadow"
              type="submit"
              [disabled]="!internshipForm.valid"   >Save
              </button>
            </div>
          </div>
    </form>
            </div>

        <div class="col-lg-3 col-md-3"></div>

    </div>
</div>  
