<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color:#4e5559; ">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      
          <ul class="navbar-nav mx-5 " style="padding-left:50px;" >
              <li class="nav-item px-5" >
                <a class="nav-link" href="#"><strong>INTERNSHIPS</strong></a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="#"><strong>INTERN POOLS</strong></a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link" href="#"> <strong>ACCOUNT SETTING</strong> </a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link" href="#"> <strong>PRODUCTS</strong> </a>
              </li>
              
            
            </ul>
    </div>
  </nav>

<!-- navigation path goes here -->
<nav class="ml-2">internship/personal info</nav>
<br>
<div class="container-fluid " >
<div class="row">
  <!-- left section -->
<div class="col-lg-3">
</div>
 <!-- middle section   -->
<div class="col-lg-6">
  <div class = "alert alert-success alert-dismissable" *ngIf = "Alertsms"  >
   <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
      &times;
   </button>
  
   Success! Well done its submitted.
</div>
<div class="card shadow">
<div class="card-header text-center" 
style="background-color: #008d0d; color: #fff;" *ngIf = "!Alertsms">
Personal information
</div>
<div class="card-header text-center" 
style="background-color: #008d0d; color: #fff;" *ngIf = "Alertsms">
Company information
</div>
<form class="text-center border border-light p-5" [formGroup]="internshipForm" (ngSubmit)="onSubmit()"   *ngIf = "!Alertsms">      
  <div class="form-group">
    <input type="text" formControlName="fname"
    class="form-control mb-4" placeholder="First Name">
                            
    <input type="text"  formControlName="lname"
    class="form-control mb-4" placeholder="Last Name">

    <input type="email"  formControlName="email"
    class="form-control mb-4" placeholder="email">

    <input type="tel"  formControlName="phone"
    class="form-control mb-4" placeholder="Phone Number">
  </div>
  <div class="form-group form-inline">
    <input type="password" formControlName="password" 
    class="form-control" appPassword placeholder="password"  > 
    <!-- password hide/show directive is inserted here -->  
  </div>
  <button class="btn btn-success btn-block btn-sm " 
  style="background-color: #008d0d;" type="submit" 
  [disabled]="!internshipForm.valid">Sign up for free
  </button>

</form>


<form class="text-center border border-light p-5" [formGroup]="companyForm" (ngSubmit)="onSubmit()" *ngIf = "Alertsms" >      
  <div class="form-group">
    <input type="text" formControlName="companyName"
    class="form-control mb-4" placeholder="companyName">
                            
    <input type="text"  formControlName="industryType"
    class="form-control mb-4" placeholder="industryType">

    <input type="email"  formControlName="website"
    class="form-control mb-4" placeholder="website">

    <input type="tel"  formControlName="address"
    class="form-control mb-4" placeholder="address">
  </div>
  <div class="form-group form-inline">
    <input type="password" formControlName="country" 
    class="form-control" appPassword placeholder="country"  > 
    <!-- password hide/show directive is inserted here -->  
  </div>
  <button class="btn btn-success btn-block btn-sm " 
  style="background-color: #008d0d;" type="submit" 
  [disabled]="!internshipForm.valid">Next
  </button>

</form>
</div>
</div>
<!-- right section -->
<div class="col-lg-3">
    <button class="btn btn-success  btn-sm shadow ml-4">+ ADD INTERNSHIP</button>
</div>
</div>
</div>