<div class="card text-white " style="border-radius:0%;height: 480px;">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-6">
              <div class="container-fluid ">
                <div class="container-fluid mt-3">
                  <h2 style="color:rgb(5, 9, 12);"><strong>Find The Perfect Internship Opportunity For Your Career</strong></h2>
                  <div class="d-flex">                   
                      <input 
                      class="form-control form-control-lg mr-1"
                       type="text"
                        
                       placeholder="Search here..">
                    <button type="button" class="btn btn-success">Search</button>
                  </div>
            
                <div class="mt-3">
                  <label class="label text-muted" style="color:rgb(5, 9, 12);">Trending: </label>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Web Design</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Graphics</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Accounting</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">IT</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Electrical</button>
               </div>          
              </div>
              </div>   
            </div>
            
            <div class="col-lg-5">
              <div class="container ">
                <div class="container-fluid mt-3">
                  <div class="card">
                      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
                          <div class="carousel-inner">
                           
                            <div class="carousel-item active">
                              <img class="d-block w-100  rounded  " src="assets/img/InternshipDiagram.jpg" alt="Second slide">
                            </div>
                           
                            
                            
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>     
      </div>   
    </div>
</div> 
  <hr class="mb-0">
   <div class="container-fluid">

      <div class="d-flex justify-content-around">  <!--d-flex is used to align elements-->
        <div class="p-2" ><img  src="assets/img/y4c_opt.jpg"></div>
        <div class="p-2" ><img  src="assets/img/udsm_opt.png"></div>
        <div class="p-2"><img  src="assets/img/unicef2_opt.png"></div>
      </div>
   </div>
<hr class="mt-0 mb-0">


<hr class="shadow mt-0">







<div class="container-fluid">
    <h3> <strong>Popular Internships</strong></h3>
    
    <br>
    <div class="card-deck ">

        <div class="card bg-light shadow ">
          <img class="card-img-top " src="assets/img/content manager.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Content manager</h5>
            <p class="card-text">Unicef </p>
            <p class="card-text"><small class="text-muted">3 mins ago</small></p>
          </div>
        </div>
       
        <div class="card bg-light shadow ">
          <img class="card-img-top" src="assets/img/webdesigner.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Web designer</h5>
            <p class="card-text">ICT Pack </p>
            <p class="card-text"><small class="text-muted"> 30 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-light shadow">
            <img class="card-img-top" src="assets/img/trainer.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Trainer</h5>
              <p class="card-text">Apps and girls </p>
              <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
            </div>
          </div>
           <div class="card bg-light shadow">
            <img class="card-img-top" src="assets/img/auditor.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Auditor</h5>
              <p class="card-text">Y4C </p>  
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card bg-light shadow">
              <img class="card-img-top" src="assets/img/photographer.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Photographers</h5>
                <p class="card-text">unicef</p>
                <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
                
              </div>
            </div>
      </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    <h3> <strong> Get work done with less cost at Uni-Intern </strong></h3>
    <ul  style="list-style-image: url('assets/img/bullet.png');">
      <li>
        <h6><strong>Get a team of fresh minds.</strong></h6>
        <p>You will be connected to young minds who are eager to learn,with a high spirit to work</p>
      </li>
      <li>
        <h6><strong>Get a team of fresh minds.</strong></h6>
        <p>You will be connected to young minds who are eager to learn,with a high spirit to work</p>
      </li>
      <li>
        <h6><strong>Get a team of fresh minds.</strong></h6>
        <p>You will be connected to young minds who are eager to learn,with a high spirit to work</p>
      </li>
  
  
    </ul>
    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
  
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
  
  frameborder="0" allowfullscreen></iframe>
  
  </div>
      </div>
      </div>
      </div>
      <hr>
      <br>
  
      <div class="jumbotron text-center" style="background-image: url(assets/img/jumbotron.webp); background-size: 100% 100%;">
        <h4 class="display-4">Find internship services to gain experience today.</h4>
  
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-outline-success  btn-lg" href="#" role="button">Get Started.</a>
        </p>
      </div>
  



