

   <hr class="mb-0">
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav">
        <button class="btn" [disabled]="true" >
          <div class="d-flex justify-content-center">
            <div class="mr-1">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div>
            <div class="mr-1">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div>
            <div class="mr-1" >
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </div>
             <div class="ml-1 text-muted"><h5>Categories</h5></div> 
           </div>        
        </button>
        <li class="nav-item dropdown " role="presentation" *ngFor="let category of internshipService.getIndustries(); let i=index" >
          
          <a class=" btn btn-outline-dark btn-sm nav-link ml-2"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {{category.name}}
          </a>
          
          <ul *ngIf ="i == 0" class="dropdown-menu dropdown-menu-left shadow">
          <li *ngFor="let subcat of category.subcategory">
            <a class="dropdown-item" (click)= "onSearch(subcat)"
            >{{subcat}}</a>
          </li>  
          </ul>
          
          <ul *ngIf ="i > 0" class="dropdown-menu dropdown-menu-right shadow">
            <li *ngFor="let subcat of category.subcategory">
              <a class="dropdown-item" (click)= "onSearch(subcat)">{{subcat}}</a>
            </li>
          </ul>
        </li>
      </ul>

     </div>
    </nav>
    <hr class="mt-0">
 
      <div class="container-fluid" *ngIf="!thesearch">
          <div class="row mt-2">
           
            <div class="col-lg-6 ">
           
                <div class="container-fluid ">
                 
                     <h2 style="color:rgb(5, 9, 12);"><strong>Find The Perfect Internship Opportunity For Your Career</strong></h2>
                 

      <form  class="border border-light " [formGroup]="searchForm" (ngSubmit)="onTextSearch()">
          
          <div class="form-group">
              <input formControlName="searchtext"   class="form-control form-control-lg "
           type="text" placeholder="Search Internship..." style="width: 100%;">
          
          </div>
        </form>
                 
                 

                <div class="mt-3">
                  <label class="label text-muted" style="color:rgb(5, 9, 12);">Trending: </label>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Web Design</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Graphics</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Accounting</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">IT</button>
                  <button type="button" class="btn btn-outline-dark btn-sm ml-1">Electrical</button>
               </div>
               
                 
              </div>
              
            </div>

            <div class="col-md-6 ">
             
               
                  <div class="card " style="width:80%;background-color:honeydew ;height:auto;">
                     
                          

                           
           <img class="img-fluid " 
           src="assets/img/InternshipDiagram.jpg" alt="Cover Image">
                            
                        
                         
                       
                  </div>
              
              
            </div>
      </div>
</div>

<!-- Search results from the search box -->

 


<hr >
<div class="container-fluid" *ngIf="textsearch">
  <h5><span class="text-muted " style="color:green;">Search Results for Internships matching {{thevalue }}</span> </h5><br>
  <div class="row" >
   
      <div class="col-lg-12" >
        <div class="card-deck " *ngIf="!showresults">
      <h5><span class="text-muted ml-3" style="color:green;">No internships match for {{thevalue}}</span> </h5>
       </div>

      <div class="card-deck " *ngIf="showresults">

      <app-internship *ngFor = "let internship of internships | slice:initial:end" [internship]= "internship">
        </app-internship>
       </div>
      </div>
</div>
</div>



<div class="container-fluid" *ngIf="thesearch">
  <h5> <strong>Search Results Internships in {{search }} category</strong></h5><br>
  <div class="row ">
   
<div class="col-lg-12">
  <div class="card-deck " *ngIf="!showresults">
<h5 class="ml-3 text-muted">No internships in this {{search }} category yet!</h5>
 </div>

<div class="card-deck " *ngIf="showresults">
<app-internship *ngFor = "let internship of internships | slice:initial:end" [internship]= "internship">
  </app-internship>
 </div>
</div>
</div>
</div>



<!-- internships here -->
<hr >
<div class="container-fluid">
  <app-internships ></app-internships>
</div>


<hr>


<div class="container-fluid mt-2 mb-2">
  <div class="row mt-2">
    <div class="col-lg-6">
    <h3> <strong> Get work done with less cost at Uni-Intern </strong></h3>
    <ul  style="list-style-image: url('assets/img/bullet.png');">
       <li>
        <h6><strong>Increase company productivity with extra hands on projects.</strong></h6>
        <p>Not urgent but imporant set of pojects, can be implemented, thus room for innovation!</p>
      </li>
      <li>
        <h6><strong>Get a team of fresh minds.</strong></h6>
        <p>You will be connected to young minds who are eager to learn,
        with a high spirit to work, support younger generation!</p>
      </li>
      <li>
        <h6><strong>Meet your future employees.</strong></h6>
        <p>Build the company with strong work foundation with uderstanding potential talents</p>
      </li>
      <li>
        <h6><strong>Benefit and accelerate your Business.</strong></h6>
        <p>Free up more strategic assets and thinkers from tasks which can be done by interns</p>
      </li>

    </ul>
    </div>
    <div class="col-lg-6 mb-2">
      <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/WM_JWaKcXx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 

  </div>
      </div>
      </div>
      </div>



      <hr>
      <br>

      <div class="container-fluid mt-2" >
          <h3> <strong>Get inspired by Interns who have joined.</strong></h3>

          <br>
<div class="row mt-2">
  <div class="col-lg-12">
      <div class="card-deck mt-5">
                <div class="card">
                  <div class="flipcard profile-two" >
                    <div class="flipcard-image profile-img--two">
                      <img src="assets/img/seo.jpg" alt="profile two">
                    </div>
                    <div class="details jane">
                        <h2>Janeth Doe
                          <br>
                          <span class="job-title">SEO</span>
                        </h2>
                    </div>
                </div>
                </div>


                <div class="card">
                  <div class="flipcard profile-two">
                    <div class="flipcard-image profile-img--two">
                      <img src="assets/img/branding.jpg" alt="profile two">
                    </div>
                    <div class="details jane">
                        <h2>James Doe
                          <br>
                          <span class="job-title">Branding</span>
                        </h2>
                    </div>
                </div>
                </div>
                
                <div class="card">
                   <div class="flipcard profile-two">
                     <div class="flipcard-image profile-img--two">
                       <img src="assets/img/ui.png" alt="profile two">
                     </div>
                     <div class="details jane">
                         <h2>Jane Doe
                           <br>
                           <span class="job-title">UI Designer</span>
                         </h2>
                     </div>
                 </div>
               </div>
              
              <div class="card">
                   <div class="flipcard profile-two">
                     <div class="flipcard-image profile-img--two">
                       <img src="assets/img/architecture.jpeg" alt="profile two">
                     </div>

                     <div class="details jane">
                         <h2>John Doe
                           <br>
                           <span class="job-title">Architecture</span>
                         </h2>
                     </div>
                 </div>
              </div>
              </div>
  </div>
  </div>
</div>
      


      <hr>
      <br>
		<div class="container-fluid">
			<h3> <strong>What clients say about us. </strong></h3>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					
          <div class="item carousel-item active">
						<div class="img-box"><img src="assets/img/brandlogo.jpg" alt=""></div>
						<p class="testimonial"><strong>"Uniintern made my portfolio more impressive."</strong></p>
						<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
					</div>
					
          <div class="item carousel-item">
						<div class="img-box"><img src="assets/img/brandlogo.jpg" alt=""></div>
						<p class="testimonial"><strong>"I got a chance to use my skills on real life projects"</strong></p>
						<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
					</div>
					
          <div class="item carousel-item">
						<div class="img-box"><img src="assets/img/brandlogo.jpg" alt=""></div>
						<p class="testimonial"><strong>"Uniitern guided me through career building"</strong></p>
						<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>





      <div class="container-fluid">
          <h3> <strong>Uni-Intern Guides</strong></h3>

          <br>
          <div class="card-deck ">

              <div class="card bg-light ">
                <img class="card-img-top " src="assets/img/ui.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">
                    <a href="#"> Finding the right intern for your organization</a>
                  </p>
                </div>
              </div>

              <div class="card bg-light ">
                <img class="card-img-top" src="assets/img/branding.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">
                    <a href="#">How students benefit from Internship Programs.
                    </a>
                  </p>

                </div>
              </div>
              
              <div class="card bg-light ">
                  <img class="card-img-top" src="assets/img/seo.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      <a href="#">How employers benefit from Internship programs.
                      </a>
                    </p>

                  </div>
                </div>


            </div>
      </div>
<br>

      <div class="jumbotron text-center" style="background-image: url(assets/img/jumbotron.webp); background-size: 100% 100%;">
        <h4 class="display-4">Find internship services to gain experience today.</h4>

        <p>"Education gives you knowledge but practice gives you experience"</p>
        <p class="lead">
          <a class="btn btn-outline-success  btn-lg" href="#" role="button"  [routerLink]= "['/users/new-intern']" >Get Started.</a>
        </p>
      </div>
   
      <app-footer></app-footer>
